h2 {
    color:blue;
    text-align: center;
}
p {
    texte-align: center;
}
div { 
    width: 1000px; 
    height: 1000px;
    background-color: rgb(173, 153, 191);
    }

li{
        text-align: center;
    }
{
    float: right;
    flex: top; 
}