* {
    font-family: fantasy;
}
body {
    width: 50%;
    /*largeur de ma page 50 % de l'écran*/
    margin:auto;
    /*gestion automatique des marge pour que mon tableau soit centré*/
}
table {
    border: 4px solid #483d8b;
    /* bordure - 3 valeurs : épaisseur / type de trait / couleur */
    border-collapse: collapse;
    /* par défaut la bordure ccontient 2 trait, pour que le trait soit unique on utilise la propriété "colapse" */
    width: 90%;
    /* largeur du tableau par rapport à son contenant donc ici au body /!\ ne pas oublier la règle de l'héritage*/ 
    margin: 25px
}
thead,
tfoot {
    background-color: #e6e6fa;
    border: 2px solid #3a29a7;
}
tbody {
    border: 1px solid #6a5acd;
}
th {
    border: 1px dotted #6a5acd;
    padding: 4px;
    background-color:  #e6e6fa;
    width: 25px;
}
td {
    font-size: 100%;
    border: 1px dotted #3b29b5;
    text-align: center ;
    padding: 5px;
    /* padding marge intérieure*/
}
td:first-child {
    /* 1er <td> pour aligner le texte à gauche de la 1ère cellule de chaque rangée*/
    text-align: left;
    background-color: #e6e6fa;
}

