body {
    color: aliceblue;
    font-size: 25px;
}
#conteneur {
    width: 80%;
    margin: 0 auto;
    border: 2px solid darkslategrey;


}
 header { 
     background-color: rgb(188, 14, 14);
     height: 30px;
 }

nav {
    background-color: blueviolet;
    height: 100%;
}

section {
    background-color: blue;
    height: 500px;
    margin: 20px;
}

footer {
    background-color: yellow ;
    height: 100px
}
.a, .b, .c, .d {
    width: 50%;
    height: 250px;
    float: left
}
.a {
    background-color: brown;
}
.b {
    background-color: pink;
}
c {
    background-color: orange;
}
.d {
    background-color: azure;
}
.clear {
    clear:both
}