h1 {
    background-color: #3a4454;
    color: whitesmoke;
    padding: 1em;
    ma
   
}

h2 {
    background-color: #6b737f;
    color: white;
    padding: 0.5em;
   
}

h3 {
    background-color: #c2b2b4;
    color: #610f7f;
    padding: 0.25em;
   
}
.item1{
    background-color: lightsalmon;
    width:80px;
    height: 80px;
/*flex-grow: 2;    /*pour definir la taille d'un element au debut par rapport au autres elements,je donne la possiblite de grandir l'élement si necessaire*/
    
   
}
.item2{
    background-color:green;
    width:80px;
    height: 80px;
    flex-basis:250px;/*definit la taille de base d'un element, la taille sera en pixel */
  
   
}
.item3{
    background-color:red;
    width:80px;
    height: 80px;
    order:1;/*il change l'ordre d'affichage d'un element par rapport au flux web(insertion par defaut dans html)*/
  
    
   
}
.contenu_1{
    border:1px solid orange;
    height: 200px;
    display:flex;
    flex-direction:row-reverse;/*la valeur par defaut est row, les valeurs possibles(column,row,row-reverse,column-reverse..)*/
    justify-content: space-around;/*la valeur par defaut ici c'est flex-start, les valeurs possibles ici(center,flex-end,flex-start,space-between,space-around)*/
/*
space-between:les elements sont réparties sur la totalité de la ligne(l'axe principal qui est definit par flex-direction) en créant des espaces entre les elements
space-around:les elements sont réparties sur la totalité de la ligne en cryant des espaces alentours des elements
center:il va centrer les elements dans le conteneur
*/
/*align-items permet d'aligner l'element sur l'hauteur du conteneur seulement si l'element n'a pas de height de base(height n'est pas definit) */
    align-items:flex-end;/*la valeur par defaut est flex-start, les valeurs disponibles(flex-end,flex-start,center,stretch,baseline*/

}
.contenu_2{
    border:1px solid orange;
    height: 200px;
    display:flex;
    flex-direction:row;/*la valeur par defaut est row, les valeurs possibles(column,row,row-reverse,column-reverse..)*/
    justify-content: center;
    align-items: center;
}
.contenu_3{
    border:1px solid orange;
    height: 400px;
    display:flex;
    flex-direction:column;/*la valeur par defaut est row, les valeurs possibles(column,row,row-reverse,column-reverse..)*/
    justify-content: space-between;
   
}
.contenu_4{
    border:1px solid orange;
    height: 200px;
    display:flex;
    flex-direction:row-reverse;/*la valeur par defaut est row, les valeurs possibles(column,row,row-reverse,column-reverse..)*/
    flex-wrap: nowrap;/*definit est ce que les elements seront obligatoirement sur une seule ligne ou bien ils ont la possibilites d'etre sur plusieurs ligne(cad il ya un retour a la ligne)*/
   /*
   flex-flow:<flex-direction> || <flex-wrap>; on peut conbiner les deux valeurs de flex-direction et flex-wrap dans une seule propriete flex-flow 
   */
   /*align-content il fait la meme chose que align-item si on a plusieurs lignes sur le meme conteneur*/
}