
.contener {
    width: 1400px;
    height: 1300px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    
}

.green1 {
    width: 200px;
    height: 200px;
    background-color: rgb(24, 177, 24);
    border: 3px solid black;
    border-bottom-left-radius: 35%;
    border-top-left-radius: 10%;
    border-top-right-radius: 19%;
    border-bottom-right-radius: 21%;
    
}
.blue {
    width: 200px;
    height: 200px;
    background-color: rgb(18, 198, 253);
    border: 3px solid black;
    border-top-left-radius: 35%;
    border-bottom-right-radius: 35%;
}
.cerclev {
    width: 200px;
    height: 200px;
    background-color: rgb(186, 241, 186);
    border: 3px solid black;
    border-radius: 100%;
}
.rose {
    width: 200px;
    height: 200px;
    background-color: salmon;
    border: 3px solid black;
    border-bottom-left-radius: 35%;
    border-top-left-radius: 12%;
    border-top-right-radius: 35%;
    border-bottom-right-radius: 12%;

}
.rouge {
    width: 200px;
    height: 200px;
    background-color: red;
    border: 3px solid black;
    border-bottom-left-radius: 35%;
    border-top-left-radius: 12%;
    border-top-right-radius: 35%;
    border-bottom-right-radius: 12%;
}
.vide {
    width: 200px;
    height: 200px;
    background-color: rgb(255, 255, 255);
}