.container {
  border: 1px solid white;
}
.part1,
.part2,
.part3 {
  margin-top: 45px;
}
.part1 img,
.part2 img,
.part3 img {
  width: 80%;
}

h1,
p {
  padding-right: 25px;
}

h2 {
  margin-top: 50px;
}
hr {
  display: flex;
}
