.container {
  border: 1px solid white;
  width: 45%;
  margin: auto;
  text-align: justify;
  font-size: 1.375rem;
  line-height: 2.5rem;
}
h1 {
  padding-left: 350px;
  font-weight: bolder;
  padding-bottom: 130px;
}
.date {
  padding-left: 350px;
}

svg {
  margin-left: auto;
  margin-bottom: 60px;
}
.arrow {
  display: flex;
  padding-right: auto;
  margin-left: 350px;
  margin-top: 25px;
}
p {
  font-size: 25px;
}
