
body {
    width: 50%;
    margin:auto;   
}
td {
    border:1px solid black ;
    width: 30px;
    height: 30px;
}
table {
    border-collapse: collapse;
}

.yellow {
    background-color: yellow;
}
.grey {
    background-color: grey;
}
.black {
    background-color: black;
}
.blue {
    background-color: blue;
}
.contenu { 
    width: 45em;
    height: 45em;
    margin: 0 auto;
    border-radius: 50%;
}
