.carre1 {
  width: 75px;
  height: 75px;
  background: rgb(240, 43, 8);
  top: 0px;
  left: 0px;
  position: absolute;
}
.carre2 {
  width: 75px;
  height: 75px;
  background: rgb(29, 10, 236);
  top: 0px;
  right: 0px;
  position: fixed;
}
.carre3 {
  width: 75px;
  height: 75px;
  background: rgb(237, 248, 26);
  bottom: 0px;
  right: 0px;
  position: absolute;
}
.carre4 {
  width: 75px;
  height: 75px;
  background: rgb(1, 161, 6);
  bottom: 0px;
  left: 0px;
  position: fixed;
}
.conteneur {
  margin: auto;
  width: 150px;
  border: 1px solid white;
  height: 1200px;
}
.triangle {
  width: 0;
  height: 0;
  margin-top: 45px;
  border: 0 solid transparent;
  border-right-width: 75px;
  border-left-width: 75px;
  border-bottom: 100px solid rgb(238, 71, 204);
  transform: rotate(180deg);
  position: sticky;
  top: 0px;
  z-index: 2;
}
.rond {
  width: 75px;
  height: 75px;
  margin-top: 220px;
  margin-left: 35px;
  background: rgb(0, 239, 251);
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
  position: relative;
  text-shadow: #f5f5f5;
  box-shadow: 8px 8px 12px #aaa;
  /* z-index: 1; */
}
/* .ombre {
  width: 75px;
  height: 75px;
  margin-top: -65px;
  margin-left: 30px;
  background: rgb(101, 124, 125);
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
  position: relative;
} */
