/* ********************** PAGE ZONING************ */

/***********************Zoning 1************************/

/* #zoning1 {
  background: #ffd6d6;
  width: 800px;
  text-align: center;
  text-shadow: 1px 1px 2px darkgrey;
  margin: auto;
}

#zoning1 header {
  height: 70px;
  background: #f7f39a;
}

#zoning1 aside {
  height: 525px;
  float: left;
  width: 20%;
  background: #a3de83;
}

#zoning1 section {
  float: left;
  background: #38817a;
  height: 525px;
  width: 80%;
  margin: 0;
  padding: 0;
}

.clear {
  clear: both;
} */

#zoning5 {
  background: #ecebe9;
  text-align: center;
  text-shadow: 1px 1px 2px darkgrey;
  border: 2px solid black;
  margin: 0 auto;
}

#zoning5 header {
  height: 90px;
  background: #f8d771;
}

#zoning5 nav {
  height: 50px;
  background: #d6bc6b;
  border-bottom: 8px solid #c19718;
}

#zoning5 .section {
  background: #176d81;
  margin: 20px;
  padding: 0;
}

#zoning5 .section .z1,
.z2,
.z3,
.z4 {
  height: 250px;
  width: 50%;
  float: left;
}

#zoning5 .z1,
.z4 {
  background: #d6bc6b;
}

#zoning5 .z2,
.z3 {
  background: #fce38a;
}

#zoning5 footer {
  height: 75px;
  background: #f8d771;
}

#zoning5 section,
footer {
  color: black;
}
.clear {
  clear: both;
} 

@media screen and (max-width: 500px) {
  #zoning5 .section .z1,
.z2,
.z3,
.z4 {
  width: 100%;
  flex-direction: column;
  margin-bottom: 30px;
  src: local('Smooch'), url("../font_ecritures/Smooch/Smooch-Regular.ttf");
}
#zoning5 .section {
  background:none;
}
}