* {
  box-sizing: border-box;
}

/* NORMALIZE */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* REGLAGES GENERAUX */

body {
  background-image: url(../img/bg.jpg);
  scroll-behavior: smooth;
  /* effet de scroll quand on clique sur une ancre - ne marche que sur Firefox, Chrome et Opéra dernières versions */
}

h1 {
  font-size: 45px;
  /* EMMET => fz45px + tab */
  font-family: "Anton", sans-serif;
  color: #2980b9;
  text-align: center;
  /* EMMET => tac + tab */
  letter-spacing: 1px;
  /* EMMET => ls1 + tab */
}

h2 {
  font-size: 35px;
  color: #2c3e50;
  padding: 20px;
  /* EMMET => p20 + tab */
  font-weight: bold;
  /* EMMET => fwb + tab */
  text-shadow: 1px 1px 2px #aaa;
  /* 4 valeurs : ombre horizontale, verticale, zone de flou, couleur de l'ombre */
}

h3 {
  font-size: 22px;
  color: #2c3e50;
  padding: 15px;
  text-shadow: 1px 1px 2px #aaa;
}

h4 {
  text-align: center;
  margin-top: 30px;
  /* EMMET => mt30 + tab */
}

blockquote {
  font-style: italic;
  font-size: 120%;
}

strong {
  font-weight: bold;
  /* EMMET => fwb + tab */
}

/* ---------- HEADER --------- */

header {
  background: #2c3e50;
  height: 175px;
  /* EMMET => h175 + tab */
}

#logo {
  float: left;
  /* EMMET => fl + tab */
  width: 25%;
  background: #2c3e50;
  padding: 15px;
  text-align: center;
}

#slogan {
  float: left;
  width: 50%;
  background: #2c3e50;
  padding-top: 50px;
  /* EMMET => pt50 + tab */
}

#social {
  float: left;
  width: 25%;
}

#social i {
  background: #2c3e50;
  font-size: 30px;
  text-align: right;
  /* EMMET => tar + tab */
  padding: 15px 30px 0 0;
  display: block;
  /* EMMET => db + tab */
}

header a {
  color: #10828c;
  text-decoration: none;
  /* EMMET => tdn + tab */
}

/* ---------- FIN HEADER --------- */

/* ---------- NAV --------- */

nav {
  background: #2980b9;
  height: 70px;
  border-bottom: 8px solid #6acafc;
  text-align: center;
  padding: 15px;
}

nav a {
  margin: 10px;
  padding: 2px 10px;
  border-radius: 10px 0px;
  border: 2px solid white;
  background: #6acafc;
  color: #2c3e50;
  text-decoration: none;
  font-size: 20px;
  font-family: "Nunito", sans-serif;
  transition: 0.5s;
}

nav a:hover {
  background: #a6d6c3;
  color: white;
}

.activ {
  background: #2c3e50;
  color: white;
}

/* ---------- FIN NAV --------- */

/* ---------- MAIN --------- */

/*FAIRE LE ZONING AVEC DES HAUTEUR ET LARGEUR AVANT DE PLACER LES ELEMENTS DANS LES ZONES POUR ENSUITE SUPPRIMER LES HAUTEURS*/

main {
  background: rgba(178, 178, 178, 0.3);
  width: 1000px;
  margin: 0 auto;
}

aside {
  height: 250px;
  background: #a6d6c3;
}

section {
  margin-top: 50px;
  background: #daf7a6;
  padding: 20px;
}

footer {
  background: #2980b9;
  height: 30px;
}

/* ---------- FIN MAIN --------- */

/* ---------- PAGE TEXTE --------- */

.oswald p {
  font-family: "Nunito", sans-serif;
}

/* ---------- FIN PAGE TEXTE --------- */

/****************DEBUT PAGE SELECTEURS*************/

.select p {
  color: red;
}

.select p:first-of-type {
  color: pink;
}

.select p:last-of-type {
  color: pink;
}

.select p:nth-of-type(5),
.select p:nth-of-type(6) {
  color: black;
}

.select div:not(.zoneB) {
  font-weight: bold;
}

.select .zoneA {
  color: #f56f56;
}

.select .zoneB {
  color: #996633;
}

.select .zoneB .couleurBleu {
  color: blue;
  font-size: 16px;
}

.select #zoneC {
  color: #98f32f;
}

.select #zoneD span {
  color: #32ff32;
  font-size: 30px;
  font-style: italic;
}

/****************FIN PAGE SELECTEURS***************/

/****************DEBUT PAGE IMAGE********************/

.imageFond {
  background: #000 url(../img/fond.jpg) no-repeat;
  background-size: cover;
}

.imageFond p {
  width: 75%;
  margin: 100px auto 200px auto;
  background: rgba(255, 255, 255, 0.6);
  padding: 20px;
  font-size: 120%;
  border-radius: 10px;
}

img[src="img/toureiffel.jpg"] {
  margin: auto;
  width: 250px;
  display: block;
}

.rotationImg {
  text-align: center;
}

.image {
  margin: 20px;
  border: 5px solid #eee;
  /*rgba sera utilisé dans ce cas pour créer une ombre à mon image*/
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  transition: 1s;
}

.image:hover {
  transform: rotate(-7deg);
  border: 15px solid #eee;
}

.rotation360:hover {
  transform: rotate(-360deg);
}

/********************FIN PAGE IMAGE******************/

/********************BOUTON TOP******************/

button {
  position: fixed;
  bottom: 40px;
  right: 20px;
  cursor: pointer;
  border: none;
  background: transparent;
  font-size: 250%;
  color: rgba(7, 30, 34, 0.5);
}

/********************FIN BOUTON TOP******************/

/***********************PAGE POSITION****************/

.centre {
  background: #33cccc;
  width: 500px;
  height: 200px;
  margin: 0 auto;
}

.absolute {
  position: absolute;
  background: orange;
  width: 100px;
  height: 100px;
  top: 25%;
  left: 10%;
}

.relative {
  background: #2d5c7f;
  width: 400px;
  height: 400px;
  position: relative;
  bottom: 10px;
  left: 100px;
}

.relative div {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  background: #fff1a8;
}

.trente {
  width: 30%;
  padding: 20px;
  font-size: 22px;
  background: #3c1b1f;
  color: #f6e1b5;
  font-weight: bold;
}

.cinquante {
  width: 50%;
  padding: 20px;
  font-size: 22px;
  background: #b21e4b;
  color: #e2bf81;
  font-weight: bold;
  margin-top: 7px;
}

.cent {
  width: 100%;
  padding: 20px;
  font-size: 22px;
  background: #e2bf81;
  color: #b21e4b;
  font-weight: bold;
  margin-top: 7px;
}

/********************FLOAT*****************************/

.float {
  height: 170px;
  width: 170px;
  margin: 10px;
  padding-top: 2px;
  float: left;
  text-align: center;
  font-size: 25px;
  background: #f8d771;
  border: 2px solid darkred;
}

.dernier {
  height: 170px;
  width: 170px;
  margin: 10px;
  padding-top: 2px;
  text-align: center;
  font-size: 25px;
  background: #f8d771;
  border: 2px solid darkred;
}

.clear {
  clear: both;
}

/******************Exercice Float *********************/

.zone {
  height: 70px;
  background: #3a4750;
}

.zone1,
.zone2,
.zone3,
.zone4 {
  height: 250px;
  width: 25%;
  float: left;
}

.zone1 {
  background: #2d5c7f;
}

.zone2 {
  background: #fff1a8;
}

.zone3 {
  background: #ff8f56;
}

.zone4 {
  background: #984a59;
}

/***********************FLEXBOX*************************/

.flex {
  display: flex;
  /*justify-content: space-around;*/
  justify-content: space-between;
  /*flex-direction: column;*/
  /*flex-direction: row-reverse;*/
}

.flex div {
  width: 150px;
  height: 150px;
  background: darkblue;
  text-align: center;
  font-size: 50px;
  color: white;
}

/***********************FIN PAGE POSITION*************/

/*********************** PAGE ZONING*************/

/***********************Zoning 1************************/

#zoning1 {
  background: #ffd6d6;
  width: 800px;
  text-align: center;
  text-shadow: 1px 1px 2px darkgrey;
  margin: auto;
}

#zoning1 header {
  height: 70px;
  background: #f7f39a;
}

#zoning1 aside {
  height: 525px;
  float: left;
  width: 20%;
  background: #a3de83;
}

#zoning1 section {
  float: left;
  background: #38817a;
  height: 525px;
  width: 80%;
  margin: 0;
  padding: 0;
}

/**********************Zoning 2 ************************/

#zoning2 {
  /*On aurais pu taper "zoning2" directement dans le CSS de "zoning1" à la suite sans oublier la virgule*/
  background: #ffd6d6;
  width: 500px;
  text-align: center;
  text-shadow: 1px 1px 1px darkgrey;
  margin: auto;
}

#zoning2 header {
  height: 70px;
  background: #f8f5e4;
}

#zoning2 aside {
  height: 525px;
  float: left;
  width: 20%;
  background: #10828c;
  color: white;
}

#zoning2 .middle {
  float: left;
  background: #0e3047;
  height: 525px;
  width: 60%;
  margin: 0;
  padding: 0;
  color: white;
}

/**********************Zoning 3*************************/

#zoning3 {
  background: #ffd6d6;
  width: 800px;
  text-align: center;
  text-shadow: 1px 1px 2px darkgrey;
  color: white;
  margin: auto;
}

#zoning3 section {
  height: 525px;
  float: left;
  width: 50%;
  background: #205d67;
  margin: 0;
  padding: 0;
}

#zoning3 footer {
  height: 70px;
  float: left;
  width: 100%;
  background: #d8ebb5;
  color: black;
}

#zoning3 section:nth-of-type(2) {
  background: #639a67;
}

/**********************Zoning 4************************/

#zoning4 {
  background: #fff;
  text-align: center;
  text-shadow: 1px 1px 2px darkgrey;
  border: 2px solid black;
  margin: 0 auto;
  width: 700px;
}

#zoning4 header {
  height: 90px;
  background: #d8dfe2;
}

#zoning4 nav {
  height: 50px;
  background: #71adb5;
}

#zoning4 section {
  height: 500px;
  background: #176d81;
  margin: 20px;
  padding: 0;
}

#zoning4 footer {
  height: 75px;
  background: #0d3446;
}

#zoning4 section,
footer {
  color: white;
}

/**********************Zoning 5*************************/

#zoning5 {
  background: #ecebe9;
  text-align: center;
  text-shadow: 1px 1px 2px darkgrey;
  border: 2px solid black;
  margin: 0 auto;
}

#zoning5 header {
  height: 90px;
  background: #f8d771;
}

#zoning5 nav {
  height: 50px;
  background: #d6bc6b;
  border-bottom: 8px solid #c19718;
}

#zoning5 .section {
  background: #176d81;
  margin: 20px;
  padding: 0;
}

#zoning5 .section .z1,
.z2,
.z3,
.z4 {
  height: 250px;
  width: 50%;
  float: left;
}

#zoning5 .z1,
.z4 {
  background: #d6bc6b;
}

#zoning5 .z2,
.z3 {
  background: #fce38a;
}

#zoning5 footer {
  height: 75px;
  background: #f8d771;
}

#zoning5 section,
footer {
  color: black;
}

/***********************Zoning 6************************/

#zoning6 {
  width: 800px;
  margin: 0 auto;
  color: white;
  text-align: center;
}

#zoning6 header {
  background: #40a497;
  height: 180px;
}

.haut1 {
  float: left;
  width: 25%;
  height: 100%;
  background: #203562;
}

.haut2 {
  float: left;
  width: 50%;
  height: 100%;
  background: #3e588f;
}

.haut3 {
  float: left;
  width: 25%;
  height: 100%;
  background: #203562;
}

#zoning6 nav {
  background: #0b5269;
  height: 30px;
  border: none;
}

#zoning6 aside {
  background: #446878;
  width: 20%;
  height: 650px;
  float: left;
}

#zoning6 section {
  width: 80%;
  float: left;
  margin: 0;
  padding: 0;
}

.slideshow {
  background: #314a52;
  height: 250px;
}

#zoning6 .a {
  background: #c0c5cd;
  width: 50%;
  height: 250px;
  float: left;
}

#zoning6 .b {
  background: #203562;
  width: 50%;
  height: 250px;
  float: left;
}

#zoning6 .c,
.e {
  background: #c0c5cd;
  width: 25%;
  height: 150px;
  float: left;
}

#zoning6 .d,
.f {
  background: #203562;
  width: 25%;
  height: 150px;
  float: left;
}

#zoning6 footer {
  background: #0b5269;
  height: 50px;
  color: white;
}

/***********************FIN ZONING**********************/

/*************************TABLEAU***********************/

.tableau table {
  border-collapse: collapse;
  border: 2px solid #6495ed;
  font-weight: bold;
  margin: auto;
  width: 80%;
}

.tableau thead,
.tableau tfoot {
  background: #d0e3fa;
  border: 1px solid #6495ed;
}

.tableau tbody {
  border: 1px solid #6495ed;
}

.tableau th {
  border: 1px solid #6495ed;
  padding: 5px;
  width: 20%;
}

.tableau td {
  border: 1px solid #6495ed;
  font-size: 80%;
  padding: 5px;
  text-align: center;
}

/***********************FIN PAGE TABLEAU*************/

/***************************LISTE************************/

ul.fruit {
  list-style: none;
}

ul.fruit li {
  display: inline;
  margin: 15px;
}

li .fas {
  font-size: 90%;
  color: blue;
}

li .fas:hover {
  font-size: 150%;
  color: darkred;
}

.imbriquee,
.imbriquee ul {
  padding-left: 15px;
}

.imbriquee {
  cursor: pointer;
}

.imbriquee ul {
  display: none;
}

.europe:hover ul,
.asie:hover ul {
  display: block;
}

.imbriquee li ul li:hover {
  font-size: 200%;
  background: #e74c3c;
  display: inline;
  box-shadow: 5px 10px 10px grey;
  transition-duration: 1s;
}

/**************************FIN LISTE************************/
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
