.contenu {
  border: 1px solid white;
  margin: auto;
  color: white;
  width: 75%;
}
header {
  border: 1px solid rgb(239, 239, 239);
  background: linear-gradient(rgb(45, 253, 149), rgb(34, 193, 195));
  border-radius: 5px;
  width: auto;
}
.haut {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 45px;
}
#logo,
.voyage {
  float: left;
}
.clear {
  clear: both;
}
#logo img {
  width: 23px;
  height: 23px;
}
nav ul {
  list-style-type: none;
  justify-content: space-evenly;
  display: flex;
  margin: 25px;
  line-height: 1px;
}
ul li a {
  margin: 2px;
  text-decoration: none;
  color: white;
  padding: 13px;
}
.bandeau {
  border: 1px solid rgb(239, 239, 239);
  width: auto;
  height: 20px;
  font-size: 10px;
}
main {
  margin: auto;
  width: 75%;
}
section {
  display: flex;
}

section div {
  width: 50%;
  margin: auto;
  padding: 0px 15px;
}
section div img {
  align-items: center;
  justify-content: center;
}
.par1 {
  border: 1px solid rgb(239, 239, 239);
  background: linear-gradient(rgb(86, 166, 241), rgb(191, 129, 148));
  border-radius: 7px;
  width: auto;
}
.tai {
  width: 55%;
  padding-left: 25px;
  justify-content: justify;
}
.jap,
.inde {
  width: 55%;
  justify-content: justify;
}
.par2 {
  border: 1px solid rgb(239, 239, 239);
  background: linear-gradient(rgb(70, 134, 195), rgb(97, 227, 194));
  border-radius: 7px;
  width: auto;
}
.par3 {
  border: 1px solid rgb(239, 239, 239);
  background: linear-gradient(rgb(92, 144, 181), rgb(226, 132, 23));
  border-radius: 7px;
  width: auto;
  line-height: 25px;
}
img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: auto;
}
marquee {
  width: 100%;
  padding: 10px 0;
  line-height: 1px;
}
footer {
  border: 1px solid rgb(239, 239, 239);
  background: linear-gradient(rgb(45, 253, 149), rgb(34, 193, 195));
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  width: auto;
  height: 55px;
  margin-top: 15px;
  font-size: smaller;
}
.bas {
  margin-top: 20px;
  margin-left: 10px;
}
.icon {
  margin-top: 20px;
  margin-right: 10px;
}
@media screen and (max-width: 992px) {
  .haut {
    flex-basis: auto;
  }
  section div {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .main {
    flex-basis: auto;
  }
  .bas {
    flex-basis: auto;
  }
}
@media screen and (max-width: 780px) {
  section div {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .main,
  nav {
    display: flex;
    width: 50%;
    font-size: xx-small;
    flex-wrap: wrap;
    justify-content: center;
  }
  .bas {
    flex-wrap: row wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .par1,
  .par2,
  .par3 {
    display: flex;
    flex-direction: column;
    line-height: 17px;
    padding: 0px 15px;
  }
  img {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    justify-content: center;
    align-content: center;
  }
}
