.contenu {
  box-sizing: border-box;
  background-color: white;
  border: 1px solid white;
  margin: auto;
  width: 60%;
}
.body {
  width: 100%;
}
/* partie du haut*/
header {
  background-image: url("../../consignes/img/texture_bare_4570_1_thumbnail.jpg");
  width: auto;
  height: 380px;
}
#triangle-topright {
  width: 0;
  height: 0;
  border-top: 95px solid rgb(191, 73, 112);
  border-left: 95px solid transparent;
  align-self: center;
  position: absolute;
  z-index: 1;
}
.haut {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.haut p {
  padding-top: 5px;
  padding-left: 15px;
}
nav ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-evenly;
  margin: 25px;
  line-height: 1px;
}
ul li a {
  text-decoration: none;
  margin: 2px;
  padding: 13px;
  color: black;
}
.img_cerf {
  display: flex;
  justify-content: center;
  margin-top: 49px;
  z-index: 3;
}
/*partie du milieu 1*/
main {
  margin: auto;
  width: auto;
}
.sec1 {
  border: 1px solid white;
  width: auto;
  height: 406px;
}
section {
  display: flex;
  flex-direction: row;
}
section div {
  align-self: flex-end;
  width: 60%;
}
.text1 {
  justify-content: flex-start;
  margin-bottom: 25px;
}
h2,
p {
  text-align: center;
  justify-content: center;
  align-items: center;
}
.p1 {
  color: rgb(191, 73, 112);
}
/*partie du milieu 2*/
.sec2 {
  border: 1px solid white;
  width: auto;
  height: 537px;
}
.graine {
  justify-content: flex-start;
  width: 40%;
}

figure .img_grainep {
  padding-left: 140px;
  padding-bottom: 15px;
}
figcaption {
  justify-content: center;
  width: auto;
}
/*partie du milieu 3*/
.graine1 {
  flex-direction: column;
}
.sec3 {
  border: 1px solid white;
  width: auto;
  height: 452px;
}

/*partie du milieu 4 */
.sec4 img {
  border: 1px solid white;
  width: 1132px;
  height: auto;
}
/*dernière partie*/
footer {
  border: 1px solid white;
  background-image: url("../../consignes/img/motif.jpg");
  width: auto;
  height: 345px;
}
h3 {
  padding-left: 45px;
  padding-top: 75px;
}
#adress {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  border: 1px solid white;
}
.adresse {
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: left;
}
.icon {
  display: flex;
  justify-content: flex-end;
}
